[submodule "jvb/jitsi-videobridge"]
	path = jvb/jitsi-videobridge
	url = git@github.com:tu-nv/jitsi-videobridge.git
[submodule "jicofo/jicofo"]
	path = jicofo/jicofo
	url = git@github.com:tu-nv/jicofo.git
